@mixin font-title() {
	font-family: 'Lobster', cursive !important;
	src: url('fonts/Lobster-Regular.ttf');
	color: black ;
}

@mixin font-title-size($size) {
	@include font-title();
	font-size: $size;	
}

@mixin font-text() {
	font-family: 'PT Serif', Serif !important;
	color: black;
}

@mixin font-text-size($size) {
	@include font-text();
	font-size: $size;
}