# Don't know if we will modify foundation core
# /bower_components/*
/.sass-cache/*
*.DS_Store
/stylesheets/*

# Server Eclipse configuration
server/.classpath
server/.metadata
server/.settings
server/RemoteSystemsTempFiles

