# Don't know if we will modify foundation core
# /bower_components/*
server/src/main/webapp/.sass-cache/*
*.DS_Store
server/src/main/webapp/stylesheets/*

# Server Eclipse configuration
server/.classpath
server/tomcat.8080
server/.metadata
server/.settings
server/RemoteSystemsTempFiles
server/bin
server/build
server/target
server/.classpath
server/.settings/
server/keys.properties
