@import '_variables.scss';

#header {
	h1 {
		@include font-title();
	}
	h2 {
		@include font-text-size(23px);
		margin-bottom: 50px;
	}
}

.title-area {
	li {
		line-height: 45px;
		.bar-title {
			@include font-title-size(23px);
			color: white;

			margin-left: 10px;
		}
	}
}

.top-bar-section {
	a {
		&#bar-login-btn {
			&.hide {
				display: none !important;
			}
		}

		&#bar-register-btn {
			&.hide {
				display: none !important;
			}
		}
	}
}