/* line 3, ../scss/login.scss */
input[type="submit"] {
  font-family: 'PT Serif', Serif !important;
  color: black;
  font-size: 16px;
  height: 37px;
  color: white;
  background-color: #7f0000;
  border: 2px solid black;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 3px 3px 2px #888888;
  text-align: center;
}
/* line 40, ../scss/_variables.scss */
input[type="submit"]:hover {
  background-color: #333;
  box-shadow: 1px 1px 2px #888888;
}
