/* line 4, ../scss/movie.scss */
#theater-list .theater {
  text-align: center;
}
/* line 6, ../scss/movie.scss */
#theater-list .theater .title {
  font-family: 'Lobster', cursive !important;
  src: url("fonts/Lobster-Regular.ttf");
  color: black;
  font-size: 25px;
  margin-bottom: 5px;
}
/* line 12, ../scss/movie.scss */
#theater-list .day {
  font-family: 'Lobster', cursive !important;
  src: url("fonts/Lobster-Regular.ttf");
  color: black;
  font-size: 15px;
  color: #7f0000;
  margin-bottom: 0px;
}
/* line 18, ../scss/movie.scss */
#theater-list a {
  font-family: 'PT Serif', Serif !important;
  color: black;
  font-size: 15px;
}
/* line 21, ../scss/movie.scss */
#theater-list a:hover {
  text-decoration: underline;
}
/* line 26, ../scss/movie.scss */
#theater-list .hour-list {
  margin-bottom: 10px;
}
