/* line 3, ../scss/search.scss */
#weekly-movies-zone {
  border-top: solid 2px #333;
  margin-top: 20px;
}
/* line 7, ../scss/search.scss */
#weekly-movies-zone h2 {
  font-family: 'Lobster', cursive !important;
  src: url("fonts/Lobster-Regular.ttf");
  color: black;
  font-size: 30px;
  text-align: center;
}
/* line 12, ../scss/search.scss */
#weekly-movies-zone .slick-prev:before, #weekly-movies-zone .slick-next:before {
  color: #7f0000;
}
/* line 19, ../scss/search.scss */
#weekly-movies-zone .weekly-movies div.movie p {
  margin-bottom: 0px;
  color: #7f0000;
}
/* line 28, ../scss/search.scss */
#weekly-movies-zone .slick-slide {
  height: 400px;
}
/* line 31, ../scss/search.scss */
#weekly-movies-zone .slick-slide img {
  max-height: 400px;
  width: 100%;
}
/* line 38, ../scss/search.scss */
#weekly-movies-zone p.title {
  font-family: 'Lobster', cursive !important;
  src: url("fonts/Lobster-Regular.ttf");
  color: black;
  font-size: 18px;
  text-align: center;
}

/* line 46, ../scss/search.scss */
#results h1 {
  font-family: 'Lobster', cursive !important;
  src: url("fonts/Lobster-Regular.ttf");
  color: black;
  font-size: 30px;
}
/* line 51, ../scss/search.scss */
#results p.title {
  font-family: 'Lobster', cursive !important;
  src: url("fonts/Lobster-Regular.ttf");
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 56, ../scss/search.scss */
#results p.actors-label, #results p.productor-label {
  font-family: 'Lobster', cursive !important;
  src: url("fonts/Lobster-Regular.ttf");
  color: black;
  font-size: 15px;
  color: #7f0000;
  display: inline-block;
  margin-bottom: 0px;
}
/* line 64, ../scss/search.scss */
#results p.actors-value, #results p.productor-value {
  font-family: 'PT Serif', Serif !important;
  color: black;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 0px;
}
/* line 74, ../scss/search.scss */
#results #movie-results .movie-result .showtime-btn {
  font-family: 'PT Serif', Serif !important;
  color: black;
  font-size: 16px;
  height: 37px;
  color: white;
  background-color: #7f0000;
  border: 2px solid black;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 3px 3px 2px #888888;
  text-align: center;
  font-family: 'Lobster', cursive !important;
  src: url("fonts/Lobster-Regular.ttf");
  color: black;
  font-size: 15px;
  color: white !important;
  font-size: 12px;
  height: 30px;
  width: 100px;
  line-height: 25px;
  margin-top: 10px;
}
/* line 40, ../scss/_variables.scss */
#results #movie-results .movie-result .showtime-btn:hover {
  background-color: #333;
  box-shadow: 1px 1px 2px #888888;
}
/* line 87, ../scss/search.scss */
#results #pagination-zone {
  text-align: center;
}
/* line 90, ../scss/search.scss */
#results #pagination-zone a.pagination {
  font-family: 'PT Serif', Serif !important;
  color: black;
  font-size: 20px;
  color: #7f0000;
  margin-right: 5px;
}
/* line 95, ../scss/search.scss */
#results #pagination-zone a.pagination.active {
  text-decoration: underline;
  cursor: default;
  color: black;
}
