<p>Commencez par rechercher le film que vous voulez voir. Pour cela des filtres vous permettent de choisir si vous voulez faire une recherche par personne, par cinéma ou par film.</p>

<ul id="search-filter">
	<li><label><input type="checkbox" name="author" value="author" checked="checked" />Nom de personne</label></li>
	<li><label><input type="checkbox" name="theater" value="theater" checked="checked" />Nom de cinéma</label></li>
	<li><label><input type="checkbox" name="movie" value="movie" checked="checked" />Nom de film</label></li>
</ul>
<div id="search-word-zone" class="small-12">
	<div id="search-bar" class="small-10">
		<input type="text" id="search-word" class="small-10" name="search-word" value="" placeHolder="Tapez votre recherche ici ..." />
	</div>
	<div id="search-button" class="small-2">
		<span>chercher</span>
	</div>
</div>

<div id="movie-result">

</div>

<div id="theater-result">

</div>

<div id="person-result">

</div>

<div id="weekly-movies-zone" class="small-12">
	<h2>Les sorties de la semaines</h2>
	<div class="weekly-movies">
	</div>
</div>

<script>
	Search.GetMovieList();
</script>